html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #fff;
    font-family: Fira Sans;
    display: flex;
}

#panel-sidebar {
    margin: 10px 20px;
    width: 200px;
}

#panel-graphics {
    cursor: crosshair;
    background: #000;
    flex: 1;
}

#panel-graphics canvas {
    display: block;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    width: 100%;
    height: 100%;
}

#ohno {
    outline: 1px solid red;
}

label {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
