body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: Fira Sans;
    display: flex;
}

#panel-sidebar {
    margin: 15px 30px;
}

#panel-graphics {
    cursor: crosshair;
}

canvas {
    display: block;
    width: 600px;
    height: 200px;
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    outline: 1px solid grey;
}

label {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
